header{
    width:100%;
    height:10%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #D8D8D8;    
}

.nav-icon{
    padding-left: 1vw;
}

.profile-icon{
   padding-right: 1vw;
}