.page-container {
    height: 100%;
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: aliceblue;
}

.page {
    height: 90%;
    width: 70%;

    background-color: white;
}

.page-header {
    width: 70%;
    min-height: 5vh;

    font-size: 20px;

    text-shadow: 1px 1px 1px grey;
    text-align: center;
}